<div style="text-align: center;">
  <img src="https://github.com/Hack-io-Data/Imagenes/blob/main/01-LogosHackio/logo_naranja@4x.png?raw=true" alt="esquema" />
</div>

# Laboratorio Agrupamiento de Datos

En este laboratorio usaremos el DataFrame creado en la lección anterior resultado de la unión de los conjuntos de datos compartidos contigo. 

**Instrucciones:**

1. Lee cuidadosamente el enunciado de cada ejercicio.

2. Implementa la solución en la celda de código proporcionada.

3. Devuelve los resultados siempre en formato de DataFrame

In [32]:
import pandas as pd
import numpy as np

In [33]:
# Carga el dataset de trabajo
df = pd.read_csv("../../labs/lab2_m2_pandas/datos/netflix_mergeado.csv",index_col=0)
df.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Title,Genre,Premiere,Runtime,IMDB Score,Language
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",Dick Johnson Is Dead,Documentary,"October 2, 2020",90,7.5,English
1,s142,Movie,Extraction,Steven C. Miller,"Bruce Willis, Kellan Lutz, Gina Carano, D.B. S...","United States, United Kingdom, Canada","September 1, 2021",2015,R,82 min,Action & Adventure,"When a retired CIA agent is kidnapped, his son...",Extraction,Action,"April 24, 2020",117,6.7,English
2,s625,Movie,Prime Time,Jakub Piątek,"Bartosz Bielenia, Magdalena Popławska, Andrzej...",NaN,"June 30, 2021",2021,TV-MA,NaN,"Dramas, International Movies, Thrillers","On New Year’s Eve 1999, an armed man enters a ...",Prime Time,Thriller,"April 14, 2021",91,5.7,Polish
3,s835,Movie,Blue Miracle,Julio Quintana,"Jimmy Gonzales, Dennis Quaid, Anthony Gonzalez...",United States,"May 27, 2021",2021,TV-PG,NaN,"Children & Family Movies, Dramas, Faith & Spir...","To save their cash-strapped orphanage, a guard...",Blue Miracle,Drama,"May 27, 2021",95,6.7,English
4,s837,Movie,Ghost Lab,Paween Purijitpanya,"Thanapob Leeratanakachorn, Paris Intarakomalya...",Thailand,"May 27, 2021",2021,TV-MA,118 min,"Horror Movies, International Movies, Thrillers","After witnessing a haunting in their hospital,...",Ghost Lab,Horror,"May 26, 2021",117,5.2,Thai

#### Ejercicio 1: ¿Cuántos títulos hay por cada tipo de contenido ('Movie' o 'TV Show')?

In [34]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description',
       'Title', 'Genre', 'Premiere', 'Runtime', 'IMDB Score', 'Language'],
      dtype='object')

In [42]:

df_agrupado_movie_TVshow = df.groupby("type")["title"]
df_agrupado_movie_TVshow.count()

type
Movie    513
Name: title, dtype: int64

#### Ejercicio 2: ¿Cuál es el promedio de puntuación de las películas agrupadas por clasificación de audiencia ('rating')? Interpreta los resultados, ¿hay algo que te llame la atención? Explica por qué.

In [36]:
df.groupby("rating")["IMDB Score"].mean()

rating
G        6.500000
PG       6.800000
PG-13    6.386957
R        6.495745
TV-14    6.177660
TV-G     6.156250
TV-MA    6.097638
TV-PG    6.308772
TV-Y     6.780000
TV-Y7    6.240000
Name: IMDB Score, dtype: float64

#### Ejercicio 3: ¿Cuántos títulos hay por cada país? Ordena los resultados de mayor a menor

In [37]:
df_agrupado_3 = df.groupby("country")["title"].count().sort_index

df_agrupado_3

<bound method Series.sort_index of country
Argentina                                 5
Australia, United States                  1
Austria                                   2
Belgium, Netherlands                      1
Belgium, United Kingdom, United States    1
                                         ..
United States, Mexico                     3
United States, United Kingdom             2
United States, United Kingdom, Canada     1
United States, United Kingdom, Germany    1
United States, United Kingdom, India      1
Name: title, Length: 81, dtype: int64>

#### Ejercicio 4: ¿Cuál es la calificación promedio en IMDb de los títulos agrupados por tipo ('Movie' o 'TV Show')?

In [50]:
df.groupby("type")["IMDB Score"].mean()

type
Movie    6.210916
Name: IMDB Score, dtype: float64

#### Ejercicio 5: ¿Cuántos títulos se añadieron a Netflix cada año? Para resolver este ejercicio tendrás uqe convertir la columna `date_added` a formato fecha usando el método `pd.to_datetime`. [Aquí](https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html) tienes la documentación, leeala con detenimiento antes de usar el método.

In [110]:
df_fecha = pd.to_datetime(df["date_added"])

df["Año"] = df["date_added"].dt.year
df_yr = df.groupby("Año")[["title"]].count()
df_yr

      title
Año
2015     10
2016     28
2017     57
2018     83
2019    107
2020    164
2021     64

#### Ejercicio 6: ¿Cuál es el país con más títulos lanzados en el año 2020? Para resolver este ejercicio después del gropuby os puede resultar interesante el método [`idxmax`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.idxmax.html)

In [129]:
filtro_año = df["release_year"] == "2020"
df_titulos = df.groupby("country")["title"].count()
df_titulos.idxmax()

'United States'

#### Ejercicio 7:¿Cuál es el promedio de puntuación en IMDb de los títulos agrupados por país?

In [145]:
df_puntuado = df.groupby(["country","title"])['IMDB Score'].mean()
df_puntuado

country                                 title
Argentina                               A Life of Speed: The Juan Manuel Fangio Story    6.8
                                        Guillermo Vilas: Settling the Score              7.1
                                        Intuition                                        5.3
                                        Notes for My Son                                 6.3
                                        The Crimes That Bind                             6.6
                                                                                        ...
United States, United Kingdom           David Attenborough: A Life on Our Planet         9.0
                                        Shirkers                                         7.4
United States, United Kingdom, Canada   Extraction                                       6.7
United States, United Kingdom, Germany  It Takes a Lunatic                               6.6
United States, United Kingdom, India    The Trial of the Chicago 7                       7.8
Name: IMDB Score, Length: 499, dtype: float64

#### Ejercicio 8: ¿Cuántos títulos fueron lanzados en cada año agrupados por tipo ('Movie' o 'TV Show')?

In [192]:
df_lanz = df.groupby(["type","release_year"])[['title']].count().sort_values(by= "release_year", ascending = False)
df_lanz

                    title
type  release_year
Movie 2021             56
      2020            169
      2019            103
      2018             87
      2017             56
      2016             30
      2015             11
      2014              1

#### Ejercicio 9: ¿Cuál es el país con la mayor cantidad de títulos de clasificación 'TV-MA'?

In [193]:
df_9 = df[df["rating"] == "TV-MA"]
df_9.groupby("country")["rating"].count().reset_index().sort_values(by = "rating", ascending=False)
df_9.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Title,Genre,Premiere,Runtime,IMDB Score,Language,Año
2,s625,Movie,Prime Time,Jakub Piątek,"Bartosz Bielenia, Magdalena Popławska, Andrzej...",NaN,2021-06-30,2021,TV-MA,NaN,"Dramas, International Movies, Thrillers","On New Year’s Eve 1999, an armed man enters a ...",Prime Time,Thriller,"April 14, 2021",91,5.7,Polish,2021
4,s837,Movie,Ghost Lab,Paween Purijitpanya,"Thanapob Leeratanakachorn, Paris Intarakomalya...",Thailand,2021-05-27,2021,TV-MA,118 min,"Horror Movies, International Movies, Thrillers","After witnessing a haunting in their hospital,...",Ghost Lab,Horror,"May 26, 2021",117,5.2,Thai,2021
5,s841,Movie,Baggio: The Divine Ponytail,Letizia Lamartire,"Andrea Arcangeli, Valentina Bellè, Andrea Penn...",Italy,2021-05-26,2021,TV-MA,NaN,"Dramas, International Movies, Sports Movies","The story of Roberto Baggio, one of the best s...",Baggio: The Divine Ponytail,Biopic,"May 26, 2021",92,6.2,Italian,2021
6,s845,Movie,Nail Bomber: Manhunt,Daniel Vernon,NaN,NaN,2021-05-26,2021,TV-MA,73 min,"Documentaries, International Movies",This documentary examines the 1999 London bomb...,Nail Bomber: Manhunt,Documentary,"May 26, 2021",72,6.3,English,2021
9,s879,Movie,Ferry,Cecilia Verheyden,"Frank Lammers, Elise Schaap, Huub Stapel, Moni...","Belgium, Netherlands",2021-05-14,2021,TV-MA,107 min,"Dramas, International Movies, Thrillers","Before he built a drug empire, Ferry Bouman re...",Ferry,Crime drama,"May 14, 2021",106,7.1,Dutch,2021

#### Ejercicio 10. ¿Cuál es el promedio de duración de las películas agrupadas por país?

In [198]:
df_10 = df[df["type"] == "Movie"]
df_10.groupby("country")[["Runtime"]].mean()

                                           Runtime
country
Argentina                                96.800000
Australia, United States                100.000000
Austria                                 102.500000
Belgium, Netherlands                    106.000000
Belgium, United Kingdom, United States  102.000000
...                                            ...
United States, Mexico                    30.666667
United States, United Kingdom            90.000000
United States, United Kingdom, Canada   117.000000
United States, United Kingdom, Germany  126.000000
United States, United Kingdom, India    130.000000

[81 rows x 1 columns]

#### Ejercicio 11: ¿Cuál es el número total de títulos por país y clasificación de audiencia ('rating')?

#### Ejercicio 12: ¿Cuántos títulos fueron lanzados antes del año 2000 agrupados por país?

#### Ejercicio 13: ¿Cuál es la puntuación promedio en IMDb de los títulos lanzados en 2021 agrupados por país?

#### Ejercicio 14: ¿Cuántos títulos fueron dirigidos por cada director? Ordena los resultados de mayor a menor

#### Ejercicio 15: ¿Cuál es el lenguaje más frecuente en los títulos lanzados en los últimos 5 años agrupado por país?